@import "tailwindcss";

:root {
  --foreground: #ffffff;
  --background: #171717;
}

@theme inline {

  --color-bg: var(--background);
  --color-txt: var(--foreground);

  --font-inter: var(--font-inter);
}

body {
  font-family: 'Inter', monospace;
  background-color: var(--background);
  color: var(--foreground);

  margin: 0;
  padding: 0;
}
